################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/japanese_resturant_project.sln
